body{
background-color: rgb(255, 17, 0);
padding: 10px;
border: radius 4px;
margin: 50px;
border-radius: 4px;

}
.form{
    padding: 10px;
    margin: 10px;
    margin-top: auto;
} 
.controles{
    padding: 7px;
    margin: 10px;
    background-color: rgb(22, 9, 122);
}
.opuesto{
height: 400px;
width: auto;
}
.armador{
    height: 470px;
    width: auto;
    
}
.puntas{
    height: 540px;
    width: auto;
}
.libero{
    height: 463px;
    width: auto;
}